<h2>Сотрудник</h2>
<form class="form-horizontal" *ngIf="worker" (ngSubmit)="onSubmit()">
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Назад</button>
    <div class="input-group" *ngIf="worker.id">        
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="getWorkerSalary()">Подсчет зарплаты</button>
        </span>
        <div class="col-xs-3" *ngIf="salary">
            <input type="text" class="form-control" [(ngModel)]="salary" readonly="readonly" [ngModelOptions]="{standalone: true}">
        </div>
    </div>   
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Имя</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="worker.name" placeholder="Название">
            <model-validator [model]="error?.modelState?.name"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="entryWorkDate" class="col-sm-2 control-label">Дата поступления</label>
        <div class="col-sm-10">
            <input class="form-control" type="date" id="entryWorkDate" name="entryWorkDate" [ngModel]="worker.entryWorkDate | date:'yyyy-MM-dd'" (ngModelChange)="worker.entryWorkDate = $event" />
            <model-validator [model]="error?.modelState?.entryWorkDate"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="group" class="col-sm-2 control-label">Группа</label>
        <div class="col-sm-10" *ngIf="!worker.id">
            <select class="form-control" [(ngModel)]="worker.group" id="group" name="group">
                <option *ngFor="let key of groupSelect" [ngValue]="key" [label]="groupWorkers[key]"></option>
            </select>
            <model-validator [model]="error?.modelState?.group"></model-validator>
        </div>
        <div class="col-sm-10" *ngIf="worker.id">
            <select class="form-control" [(ngModel)]="worker.group" id="group" name="group">
                <option *ngFor="let key of groupSelect" [ngValue]="groupWorkers[worker.group]" [label]="groupWorkers[key]"></option>
            </select>
            <model-validator [model]="error?.modelState?.group"></model-validator>
        </div>
    </div>
    <div class="form-group">
        <label for="baseRate" class="col-sm-2 control-label">Базовая ставка</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="baseRate" name="baseRate" [(ngModel)]="worker.baseRate" placeholder="Базовая ставка">
            <model-validator [model]="error?.modelState?.baseRate"></model-validator>
        </div>
    </div>
</form>

<div *ngIf="worker && worker.id && subordinates && worker.group != 1">
    <h3>Сотрудники в подчинении</h3>
    <div class="form-inline">
        <div class="form-group">
            <label for="chiefId">Выбрать сотрудника в подчинение</label>
            <div class="select-container">
                <worker-select id="chiefId" [(chiefId)]="worker.id" (selectedNewSubId)="handleSubId($event)"></worker-select>
            </div>
            <button type="button" class="btn btn-default" (click)="addSubordination()">Добавить</button>
        </div>
        
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Имя</th>
                <th>Группа</th>
                <th>Базовая ставка</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sub of subordinates">
                <td>{{sub.id}}</td>
                <td>{{sub.name}}</td>
                <td>{{groupWorkers[sub.group]}}</td>
                <td>{{sub.baseRate}}</td>
                <td>
                    <button class="btn btn-default" (click)="deleteSub(sub.id)">Удалить</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

