<h2>Сотрудники</h2>
<button type="button" class="btn btn-default" (click)="add()">Добавить</button>
<div class="input-group">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="getAllSalary()">Подсчет зарплат!</button>
    </span>
    <div class="col-xs-4">
        <input type="text" class="form-control" [(ngModel)]="allSalary" readonly="readonly">
    </div>
</div>
<table *ngIf="content" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Имя</th>
            <th>Дата поступления</th>
            <th>Группа</th>
            <th>Базовая ставка</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let worker of content">
            <td>{{worker.id}}</td>
            <td>{{worker.name}}</td>
            <td>{{worker.entryWorkDate | date: 'dd.MM.yyyy'}}</td>
            <td>{{Group[worker.group]}}</td>
            <td>{{worker.baseRate}}</td>
            <td>
                <button class="btn btn-default" (click)="edit(worker.id)">Редактировать</button>
                <button class="btn btn-default" (click)="delete(worker.id)">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>